@page
@model TSABanking.Web.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Employee Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
           Middle Initial
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.MiddleInitial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Active)
        </dd>
        <dt class="col-sm-2">
            User Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserTypeNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            Assigned Banks
        </dt>
        <dd class="col-sm-10">
            @foreach(var name in Model.User.SelectedBanks)
            {
                @name;<br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
