@page
@model TSABanking.Web.Pages.Users.IndexModel

@{
    ViewData["Title"] = "User List";
}

<h1>User List</h1>

<p>
    <a asp-page="Create">Create New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Employee ID
            </th>
            <th>
                Name
            </th>
            <th>
                User Type
            </th>
            <th>
                Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MiddleInitial) @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserTypeNavigation.Name)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
